<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 15px">

# Project 1: Python Coding Exercises



---

The following code challenges are drawn from common exercises used in technical interviews.

Please note that there may be several ways to approach each challenge. If you get stuck, try mapping out your approach in pseudocode first. Finally, while solutions to problems like these may be found online, remember that if you copy/paste code that you can't explain, you'll be missing out on the point of the project. The only way to truly learn a new skill is through practice, trial, and error - we can only help you improve by understanding where you are having trouble.

### Challenge 1: Largest Palindrome
A palindromic number reads the same both ways. For example, 1234321 is a palindrome. The largest palindrome made from the product of two two-digit numbers is 9009 = 91 × 99. Find the largest palindrome made from the product of two three-digit numbers. Afterward, write a brief explanation walking through your code's logic in markdown.

In [41]:
list_of_palindromes = []
for x in range(100,1000):
    for y in range(100,1000):
        if str(x * y)[0] == str(x * y)[-1]:
            if str(x * y)[1] == str(x * y)[-2]:
                if str(x * y)[2] == str(x * y)[-3]:
                    list_of_palindromes.append(x * y)
#un-comment this next line if you want to see the full list
#print("list_of_palindromes = ", list_of_palindromes)
print("\nmax(list_of_palindromes) = ", max(list_of_palindromes))

max(list_of_palindromes) =  906609

In [42]:
'''
Create a rested for-loop with multiplies all 3-digit numbers by all 3-digit numbers in the real number system using
range(100,1000)

The highest number achievable is 998,001, more importantly, is a 6-digit number

Create nested if-statements tests all of the following three conditions: 
the first and the last is the same
the second and the second last is the same
the third and the third last is the same

Append all number that satisfy all three conditions to an array named list_of_palindromes

Use max() number to determine the highest-valued palindrome

Print a statement for the instructors

'''

'\nCreate a rested for-loop with multiplies all 3-digit numbers by all 3-digit numbers in the real number system using\nrange(100,1000)\n\nThe highest number achievable is 998,001, more importantly, is a 6-digit number\n\nCreate nested if-statements tests all of the following three conditions: \nthe first and the last is the same\nthe second and the second last is the same\nthe third and the third last is the same\n\nAppend all number that satisfy all three conditions to an array named list_of_palindromes\n\nUse max() number to determine the highest-valued palindrome\n\nPrint a statement for the instructors\n\n'

Every 3-digit number is within range(100,1000)

All 3-digit numbers are between 100 and 999.
All these number can be access with the code:

range(100,1000)

Use nested for-loops to multiply all possbilities for all number in range(100,1000) multiplied by range(100,1000)

The largest number producable is 999 x 999 which is a 6-digit number.
Because it's a 6-digit number, the digit in index [0] will be the same as [-1]
the digit in index [1] will be the same as [-2]
and
the digit in index [3] will be the same as [-3]
These contitions can also apply to for the smalest possible number which is the product of 100 x 100 which is only 5-digits long.
Nested if-statements to filter all possbilities for all number in range(100,1000) multiplied by range(100,1000) to capture only the palindromes into a list variable.
Use max() funtion to output the answer


### Challenge 2: Summation of Primes
The sum of the primes below 10 is 2 + 3 + 5 + 7 = 17. Find the sum of all the primes below 2,000. Afterward, write a brief explanation walking through your code's logic in markdown.

In [100]:
print("Challenge 2: Summation of Primes \nThe sum of the primes below 10 is 2 + 3 + 5 + 7 = 17. \nFind the sum of all the primes below 2,000. \nAfterward, write a brief explanation walking through your code's logic in markdown.")
print("\n")
print("\n")
chal2_max = 2000
#chal2_max = 1048576

counter_of_multiples = []
list_of_primes = []


for x in range(chal2_max):
    counter_of_multiples.append(0)

#print("\n(empty)counter_of_multiples = ",counter_of_multiples,"\n")

for x in range(chal2_max):
    for y in range(x+1):
        if y == 0:
            continue
#        print("{} % {} = {}".format(x, y, x % y))
        if x%y == 0:
            counter_of_multiples[x] +=1


#print("\ncounter_of_multiples = ",counter_of_multiples)

for x in range(chal2_max):
    if counter_of_multiples[x] == 2:
        list_of_primes.append(x)

#print("\nlist_of_primes = ",list_of_primes)

print("\n")
sum_list_of_primes = 0
for x in range(len(list_of_primes)):
#    print(list_of_primes[x])
    sum_list_of_primes += int(list_of_primes[x])
#print("\nsum_list_of_primes = ",sum_list_of_primes)
print("\n")
print("chal2_max = ",chal2_max)
print("len(list_of_primes) = ", len(list_of_primes))
print("sum_list_of_primes = ", sum_list_of_primes)
print("\n\nBetween 0 - {} there are {} prime numbers, the sum of which, equals {}".format(chal2_max, len(list_of_primes), sum_list_of_primes))

Challenge 2: Summation of Primes
The sum of the primes below 10 is 2 + 3 + 5 + 7 = 17.
Find the sum of all the primes below 2,000.
Afterward, write a brief explanation walking through your code's logic in markdown.








chal2_max =  2000
len(list_of_primes) =  303
sum_list_of_primes =  277050


Between 0 - 2000 there are 303 prime numbers, the sum of which, equals 277050

In [44]:
'''
Create an array of zeros whose length is chal2_max = 2000
    and name this array counter_of_multiples

Create a nested for-loop with takes all the numbers between zero and chal2_max = 2000,
    and using the arithmatic function "%" by itself and all number lower than itself

Everytime x % y == 0, count += 1 into the array named counter_of_multiples with the index of the number being tested

A prime number will show as 2 within counter_of_multiples under its index value

Create another array named list_of_primes

Run a for-loop in counter_of_multiples and every time "2" shows up, apped  list_of_primes with the index value of that specific "2"

Run a for-loop to sum all the primes in list_of_primes

Use len() to count the amount of prime numbers between zero and chal2_max = 2000
Run a for-loop to calculate the sum of all value in list_of_primes


Print a statement for the instructors

'''

'\nCreate an array of zeros whose length is chal2_max = 2000\n    and name this array counter_of_multiples\n\nCreate a nested for-loop with takes all the numbers between zero and chal2_max = 2000,\n    and using the arithmatic function "%" by itself and all number lower than itself\n\nEverytime x % y == 0, count += 1 into the array named counter_of_multiples with the index of the number being tested\n\nA prime number will show as 2 within counter_of_multiples under its index value\n\nCreate another array named list_of_primes\n\nRun a for-loop in counter_of_multiples and every time "2" shows up, apped  list_of_primes with the index value of that specific "2"\n\nRun a for-loop to sum all the primes in list_of_primes\n\nUse len() to count the amount of prime numbers between zero and chal2_max = 2000\nRun a for-loop to calculate the sum of all value in list_of_primes\n\n\nPrint a statement for the instructors\n\n'

Create an array of zeros with the lenth of chal2_max=2000.
Giv ethis array the name of counter_of_multiples
Nested for-Loop within a for-Loop for all numbers between 0 - chal2_max=2000 and every numnber beneath it
Count how many times x % y = 0 and update the array named counter_of_multiples
if x % y = 0 only twice then the index-value of that 2 within the array named counter_of_multiples is a prime number
Run a for-loop within the array named counter_of_multiples and find all the times 2 is mentioned
Every time 2 is mentioned, create a list of the corresponding arrays and name this list list_of_primes
Create a for-loop to sum-up all the value within list_of_primes
Print out a sentence for the instrutors

Nested For-Loop: Divide-and-produce-remainder for every number from 0 - 2000 by every number beneath it.
If it is a prime number it will only fail to produce a reminder twice

Create a list of 2000 zeros as a container to hold the number of multiples
create a for-loop for every number between 0 and 2000 and multiply it by itself and all the integers below it

### Challenge 3: Multiples of 3 and 5
If we list all of the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6, and 9. The sum of these multiples is 23. Find the sum of all the multiples of 3 and 5 below 1,000. Afterward, write a brief explanation walking through your code's logic in markdown.

In [45]:
Challenge_3_max = 1000

#Challenge_3_max = int(input("This program will list and add all the multiples between zero and a positive number of your own choosing. What number would that be? (Recommended: 1000)\n"))

list_of_multiples = []
for x in range(Challenge_3_max):
    if x == 0:
        continue
    if x % 3 == 0 or x %                     == 0:
        list_of_multiples.append(x)
print("\n")
print("list_of_multiples: ",list_of_multiples)
print("\n")
print("len(list_of_multiples) = ",len(list_of_multiples))

sum_of_list_of_multiples = 0
for x in range(len(list_of_multiples)):
    sum_of_list_of_multiples += list_of_multiples[x]
print("sum_of_list_of_multiples = ",sum_of_list_of_multiples)
print("\nThere are {} numbers between 0 and {} that are multiples of 3 and 5.\nThe sum of which is {}".format(len(list_of_multiples),Challenge_3_max,sum_of_list_of_multiples))

list_of_multiples:  [3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99, 100, 102, 105, 108, 110, 111, 114, 115, 117, 120, 123, 125, 126, 129, 130, 132, 135, 138, 140, 141, 144, 145, 147, 150, 153, 155, 156, 159, 160, 162, 165, 168, 170, 171, 174, 175, 177, 180, 183, 185, 186, 189, 190, 192, 195, 198, 200, 201, 204, 205, 207, 210, 213, 215, 216, 219, 220, 222, 225, 228, 230, 231, 234, 235, 237, 240, 243, 245, 246, 249, 250, 252, 255, 258, 260, 261, 264, 265, 267, 270, 273, 275, 276, 279, 280, 282, 285, 288, 290, 291, 294, 295, 297, 300, 303, 305, 306, 309, 310, 312, 315, 318, 320, 321, 324, 325, 327, 330, 333, 335, 336, 339, 340, 342, 345, 348, 350, 351, 354, 355, 357, 360, 363, 365, 366, 369, 370, 372, 375, 378, 380, 381, 384, 385, 387, 390, 393, 395, 396, 399, 400, 402, 405, 408, 410, 411, 414, 415, 417, 420, 423, 425, 426, 429, 430, 432, 435, 438, 440, 441, 444, 445, 447, 450, 453, 455, 456, 459, 460, 462, 465, 468, 470, 471, 474, 475, 477, 480, 483, 485, 486, 489, 490, 492, 495, 498, 500, 501, 504, 505, 507, 510, 513, 515, 516, 519, 520, 522, 525, 528, 530, 531, 534, 535, 537, 540, 543, 545, 546, 549, 550, 552, 555, 558, 560, 561, 564, 565, 567, 570, 573, 575, 576, 579, 580, 582, 585, 588, 590, 591, 594, 595, 597, 600, 603, 605, 606, 609, 610, 612, 615, 618, 620, 621, 624, 625, 627, 630, 633, 635, 636, 639, 640, 642, 645, 648, 650, 651, 654, 655, 657, 660, 663, 665, 666, 669, 670, 672, 675, 678, 680, 681, 684, 685, 687, 690, 693, 695, 696, 699, 700, 702, 705, 708, 710, 711, 714, 715, 717, 720, 723, 725, 726, 729, 730, 732, 735, 738, 740, 741, 744, 745, 747, 750, 753, 755, 756, 759, 760, 762, 765, 768, 770, 771, 774, 775, 777, 780, 783, 785, 786, 789, 790, 792, 795, 798, 800, 801, 804, 805, 807, 810, 813, 815, 816, 819, 820, 822, 825, 828, 830, 831, 834, 835, 837, 840, 843, 845, 846, 849, 850, 852, 855, 858, 860, 861, 864, 865, 867, 870, 873, 875, 876, 879, 880, 882, 885, 888, 890, 891, 894, 895, 897, 900, 903, 905, 906, 909, 910, 912, 915, 918, 920, 921, 924, 925, 927, 930, 933, 935, 936, 939, 940, 942, 945, 948, 950, 951, 954, 955, 957, 960, 963, 965, 966, 969, 970, 972, 975, 978, 980, 981, 984, 985, 987, 990, 993, 995, 996, 999]


len(list_of_multiples) =  466
sum_of_list_of_multiples =  233168

There are 466 numbers between 0 and 1000 that are multiples of 3 and 5.
The sum of which is 233168

In [46]:
'''
Create an empty list named list_of_multiples

Run a for-loop between zero and Challenge_3_max = 1000

Within that for-loop, nest a if-statements with two conditions:
    if x % 3 == 0 or x % 5 == 0:

Every time the foor loop finds a numebr that satisfied these conditions
    append into the list named list_of_multiples

run a for-loop for list_of_multiples to calculate sum_of_list_of_multiples
Use len() to count the number of multiples between zero and Challenge_3_max = 1000


Print a statement for the instructors
'''

'\nCreate an empty list named list_of_multiples\n\nRun a for-loop between zero and Challenge_3_max = 1000\n\nWithin that for-loop, nest a if-statements with two conditions:\n    if x % 3 == 0 or x % 5 == 0:\n\nEvery time the foor loop finds a numebr that satisfied these conditions\n    append into the list named list_of_multiples\n\nrun a for-loop for list_of_multiples to calculate sum_of_list_of_multiples\nUse len() to count the number of multiples between zero and Challenge_3_max = 1000\n\n\nPrint a statement for the instructors\n'

Use a for-Loop between 0 and Challenge_3_max = 1000
Within the for-loop, create an if-statement with two conditions using "or" and the arthimatic funtion "%"
if x % 3 == 0 or x % 5 == 0"
Appened all numbers into an array named list_of_multiples
Create another for-loop to calsulate the sum
Use len() to coun how many are in the array named list_of_multiples
Print out a sentence for the instrutors

### Challenge 4: String Compressor
Implement a method to perform basic string compression using the counts of repeated characters. (This is called run-length encoding.) For example, the string "aabcccccaaa" would become a2b1c5a3. If the “compressed” string would not become smaller than the original string, your method should return the original string. You can assume the string has only uppercase and lowercase letters (a–z). Specify whether your solution is case sensitive or case insensitive and what you would need to change to make it the other. Afterward, write a brief explanation walking through your code's logic in markdown.

In [47]:
print("Challenge 4: String Compressor \n\nImplement a method to perform basic string compression using the counts of repeated characters. (This is called run-length encoding.) For example, the string aabcccccaaa would become a2b1c5a3. If the “compressed” string would not become smaller than the original string, your method should return the original string. You can assume the string has only uppercase and lowercase letters (a–z). Specify whether your solution is case sensitive or case insensitive and what you would need to change to make it the other. Afterward, write a brief explanation walking through your code's logic in markdown.")

print("\n")

print("\n")

# chal4_string = "aabcccccaaa"
chal4_string = str(input("What string would you like to convert?\n"))


#
#"Specify whether your solution is case sensitive or case insensitive and what you would need to change to make it the other."
#
#chal4_string = chal4_string.upper()
#
#
#


print("chal4_string =", chal4_string)

compressed_string = []
letter_counter = 1
for x in range(len(chal4_string)):
    # What to do if it's the very first letter
    if x == 0:
        # set counter to 1
        letter_counter == 1
        # append letter to compressed_string
        compressed_string.append(str(chal4_string[x]))
    # What to do if it's the same as the previous
    if x >= 1:
        if str(chal4_string[x]) == str(chal4_string[x - 1]):
            # Add 1 to counter
            letter_counter += 1
        # What to do if it's not same as the previous
        if chal4_string[x] != chal4_string[x - 1]:
            # append counter to compressed_string
            compressed_string.append(letter_counter)
            # add letter to compressed_string
            compressed_string.append(chal4_string[x])
            # set counter to 1
            letter_counter = 1
# For very last letter, append counter to compressed_string
compressed_string.append(letter_counter)


print("\n")
print("most recent value of letter_counter = ", letter_counter)
print("compressed_string = ", compressed_string)
print("\n")
joined_compressed_string = ""

for x in range(len(compressed_string)):
    joined_compressed_string = joined_compressed_string + str(compressed_string[x])
# "If the “compressed” string would not become smaller than the original string, your method should return the original string."

print("joined_compressed_string = ", joined_compressed_string)
print("len(joined_compressed_string) = ", len(joined_compressed_string))
print("chal4_string =", chal4_string)
print("len(chal4_string) =", len(chal4_string))
final_output = ""
if len(joined_compressed_string) < len(chal4_string):
    final_output = joined_compressed_string
else:
    final_output = chal4_string
print("\n")
print("final_output = ",final_output)

Challenge 4: String Compressor

Implement a method to perform basic string compression using the counts of repeated characters. (This is called run-length encoding.) For example, the string aabcccccaaa would become a2b1c5a3. If the “compressed” string would not become smaller than the original string, your method should return the original string. You can assume the string has only uppercase and lowercase letters (a–z). Specify whether your solution is case sensitive or case insensitive and what you would need to change to make it the other. Afterward, write a brief explanation walking through your code's logic in markdown.




What string would you like to convert?
ythjdgfh
chal4_string = ythjdgfh


most recent value of letter_counter =  1
compressed_string =  ['y', 1, 't', 1, 'h', 1, 'j', 1, 'd', 1, 'g', 1, 'f', 1, 'h', 1]


joined_compressed_string =  y1t1h1j1d1g1f1h1
len(joined_compressed_string) =  16
chal4_string = ythjdgfh
len(chal4_string) = 8


final_output =  ythjdgfh

In [48]:
'''
User enter a string to be stored as chal4_string
    By default Python seems to come with case-sensitivity
    To remove case-sensitivity, add another line:
    
    chal4_string = chal4_string.upper()

Run a for-loop for every character within chal4_string

Use three nested if-statements for the three possible scenarios
    First letter
    Any letter that is the same as the previous
    Any letter that is not the same as the previous

Use an integer varaible named letter_counter which 
    counts up every time there is the first letter 
        or 
        a new letter, 
    otherwise 
        reset back to 1 for a new letter

Run a for-loop which uses "+" with strings to join all the letters and numbers to create the variable: joined_compressed_string


Use len() function to determine which string is the shortest between
    joined_compressed_string
    and
    chal4_string


In order to determine final_output as per inctructions:
    "
    If the “compressed” string would not become smaller than the original string, your method should return the original string.
    "
    ... use len() and nested if-stement to both determine the shortest string
    Return the shortest string or
    if they are the same length, return the original string


if len(joined_compressed_string) < len(chal4_string):
    final_output = joined_compressed_string
else:
    final_output = chal4_string




'''

'\nUser enter a string to be stored as chal4_string\n    By default Python seems to come with case-sensitivity\n    To remove case-sensitivity, add another line:\n    \n    chal4_string = chal4_string.upper()\n\nRun a for-loop for every character within chal4_string\n\nUse three nested if-statements for the three possible scenarios\n    First letter\n    Any letter that is the same as the previous\n    Any letter that is not the same as the previous\n\nUse an integer varaible named letter_counter which \n    counts up every time there is the first letter \n        or \n        a new letter, \n    otherwise \n        reset back to 1 for a new letter\n\nRun a for-loop which uses "+" with strings to join all the letters and numbers to create the variable: joined_compressed_string\n\n\nUse len() function to determine which string is the shortest between\n    joined_compressed_string\n    and\n    chal4_string\n\n\nIn order to determine final_output as per inctructions:\n    "\n    If the “compressed” string would not become smaller than the original string, your method should return the original string.\n    "\n    ... use len() and nested if-stement to both determine the shortest string\n    Return the shortest string or\n    if they are the same length, return the original string\n\n\nif len(joined_compressed_string) < len(chal4_string):\n    final_output = joined_compressed_string\nelse:\n    final_output = chal4_string\n\n\n\n\n'

Create a for-loop ever every character within the string

### Challenge 5: File Handling

##### Part - 1
Read the file named 'Diabetes.csv' available in the project folder.

In [63]:
import pandas as pd
diabetes_clean = pd.read_csv('diabetes_clean.csv')

diabetes_clean

#diabetes_csv.info()
#diabetes_csv?
#diabetes_csv.describe()
#diabetes_csv.mean()
#diabetes_csv['Unnamed: 2']
#diabetes_csv['Unnamed: 2'].describe()
#diabetes_csv02['Unnamed: 2'][3:]
#diabetes_csv['Unnamed: 2']
#len(diabetes_csv02['Unnamed: 2'][3:])

,diabetes,times_pregnant,glucose_conc,diastolic_BP,triceps_thk,2_hr_insulin,bmi,pedigree,age
0,0,1,85,66,29,0,26.6,0.351,31
1,1,8,183,64,0,0,23.3,0.672,32
2,0,1,89,66,23,94,28.1,0.167,21
3,1,0,137,40,35,168,43.1,2.288,33
4,0,5,116,74,0,0,25.6,0.201,30
...,...,...,...,...,...,...,...,...,...
762,0,10,101,76,48,180,32.9,0.171,63
763,0,2,122,70,27,0,36.8,0.340,27
764,0,5,121,72,23,112,26.2,0.245,30
765,1,1,126,60,0,0,30.1,0.349,47
766,0,1,93,70,31,0,30.4,0.315,23

In [50]:
'''
Open diabetes.csv file in Excel.
Delete rows [0:3]
Delete all columns to the right of ['age']

Save As under filename diabetes_clean.csv

import pandas as pd

diabetes_clean = pd.read_csv('diabetes_clean.csv')
print (diabetes_clean)

'''

"\nOpen diabetes.csv file in Excel.\nDelete rows [0:3]\nDelete all columns to the right of ['age']\n\nSave As under filename diabetes_clean.csv\n\nimport pandas as pd\n\ndiabetes_clean = pd.read_csv('diabetes_clean.csv')\nprint (diabetes_clean)\n\n"

##### Part - 2
- Check if the value for 'glucose_conc' is less than 100.
- Create a new column named 'prediction'.
- If the glucose_conc level is less than 100 then your prediction for that row will be 0 otherwise 1.

In [51]:
'''
Draft Code - Disregard

def trim(string):
    output = ""
    for x in range(len(string)):
        if string[x] in '0123456789':
            output = output + str(string[x])
        else:
            continue
    return output
            
for x in diabetes_csv02['Unnamed: 2'][3:]:
    if x ==3:
        continue
    print(int(trim(x)))
    

#diabetes_clean['glucose_conc'] < 100
#

def one_if_true(val):
    output = 0
    if val == true:
        output = 1
    return output
    
    
Draft Code - Disregard

'''

'\nDraft Code - Disregard\n\ndef trim(string):\n    output = ""\n    for x in range(len(string)):\n        if string[x] in \'0123456789\':\n            output = output + str(string[x])\n        else:\n            continue\n    return output\n            \nfor x in diabetes_csv02[\'Unnamed: 2\'][3:]:\n    if x ==3:\n        continue\n    print(int(trim(x)))\n    \n\n#diabetes_clean[\'glucose_conc\'] < 100\n#\n\ndef one_if_true(val):\n    output = 0\n    if val == true:\n        output = 1\n    return output\n    \n    \nDraft Code - Disregard\n\n'

In [64]:
# Since we're planning to create a new column, create a copy of diabetes_clean and name it diabetes_clean02 then open it

diabetes_clean_02 = diabetes_clean.copy()

diabetes_clean_02

,diabetes,times_pregnant,glucose_conc,diastolic_BP,triceps_thk,2_hr_insulin,bmi,pedigree,age
0,0,1,85,66,29,0,26.6,0.351,31
1,1,8,183,64,0,0,23.3,0.672,32
2,0,1,89,66,23,94,28.1,0.167,21
3,1,0,137,40,35,168,43.1,2.288,33
4,0,5,116,74,0,0,25.6,0.201,30
...,...,...,...,...,...,...,...,...,...
762,0,10,101,76,48,180,32.9,0.171,63
763,0,2,122,70,27,0,36.8,0.340,27
764,0,5,121,72,23,112,26.2,0.245,30
765,1,1,126,60,0,0,30.1,0.349,47
766,0,1,93,70,31,0,30.4,0.315,23

In [101]:
# Check specific column
diabetes_clean_02['glucose_conc']

0       85
1      183
2       89
3      137
4      116
      ...
762    101
763    122
764    121
765    126
766     93
Name: glucose_conc, Length: 767, dtype: int64

In [103]:
# Check which if True of False with the specific column 'glucose_conc'
diabetes_clean_02['glucose_conc'] > 100

0      False
1       True
2      False
3       True
4       True
       ...
762     True
763     True
764     True
765     True
766    False
Name: glucose_conc, Length: 767, dtype: bool

In [55]:
# Convert True to 1 and False to 0
# by sucing code:
# .astype(int)
(diabetes_clean_02['glucose_conc'] > 100).astype(int)

0      0
1      1
2      0
3      1
4      1
      ..
762    1
763    1
764    1
765    1
766    0
Name: glucose_conc, Length: 767, dtype: int32

In [56]:
# Now that the data is as it should be, assign it as 'new_column'
new_column = (diabetes_clean_02['glucose_conc'] > 100).astype(int)

In [104]:
# Add 'new_column' and give it the prescribed title of 'prediction'
diabetes_clean_02['prediction'] = new_column
diabetes_clean_02

,diabetes,times_pregnant,glucose_conc,diastolic_BP,triceps_thk,2_hr_insulin,bmi,pedigree,age,prediction
0,0,1,85,66,29,0,26.6,0.351,31,0
1,1,8,183,64,0,0,23.3,0.672,32,1
2,0,1,89,66,23,94,28.1,0.167,21,0
3,1,0,137,40,35,168,43.1,2.288,33,1
4,0,5,116,74,0,0,25.6,0.201,30,1
...,...,...,...,...,...,...,...,...,...,...
762,0,10,101,76,48,180,32.9,0.171,63,1
763,0,2,122,70,27,0,36.8,0.340,27,1
764,0,5,121,72,23,112,26.2,0.245,30,1
765,1,1,126,60,0,0,30.1,0.349,47,1
766,0,1,93,70,31,0,30.4,0.315,23,0

##### Part - 3
Write the content of the 'Diabetes.csv' file along with 'prediction' values into a new file named 'Diabetes-with-predictions.csv'

In [67]:
# Used 
# .to_csv
# to create a new file

diabetes_clean_02.to_csv('.\Diabetes-with-predictions.csv')

diabetes_with_predictions = pd.read_csv('.\Diabetes-with-predictions.csv')
diabetes_with_predictions

,Unnamed: 0,diabetes,times_pregnant,glucose_conc,diastolic_BP,triceps_thk,2_hr_insulin,bmi,pedigree,age,prediction
0,0,0,1,85,66,29,0,26.6,0.351,31,0
1,1,1,8,183,64,0,0,23.3,0.672,32,1
2,2,0,1,89,66,23,94,28.1,0.167,21,0
3,3,1,0,137,40,35,168,43.1,2.288,33,1
4,4,0,5,116,74,0,0,25.6,0.201,30,1
...,...,...,...,...,...,...,...,...,...,...,...
762,762,0,10,101,76,48,180,32.9,0.171,63,1
763,763,0,2,122,70,27,0,36.8,0.340,27,1
764,764,0,5,121,72,23,112,26.2,0.245,30,1
765,765,1,1,126,60,0,0,30.1,0.349,47,1
766,766,0,1,93,70,31,0,30.4,0.315,23,0

### *BONUS* Challenge: Diabetes
### *BONUS* Challenge: Diabetes
### *BONUS* Challenge: Diabetes
### *BONUS* Challenge: Diabetes
- From the above file, find the min and max age.
- Create six intervals based on age (e.g. 11 to 20, 21 to 30 etc.) including both min and max age found earlier.
- For each age interval compute the average 'glucose_conc'.
- Write your computed data into a new file named 'average_glucose_by_age.csv'. This file should have two columns 'age_interval' and 'avg_glucose_conc'
### *BONUS* Challenge: Diabetes
### *BONUS* Challenge: Diabetes
### *BONUS* Challenge: Diabetes

In [68]:
#Create the Age-Brackets
age_brackets = [(1,10),(11,20),(21,30),(31,40),(41,50),(51,60),(61,70),(71,80),(81,90)]
age_brackets

[(1, 10),
 (11, 20),
 (21, 30),
 (31, 40),
 (41, 50),
 (51, 60),
 (61, 70),
 (71, 80),
 (81, 90)]

In [69]:
age_bracket_labels = []
for x in age_brackets:
    print("{} - {}".format(x[0],x[1]))
    age_bracket_labels.append("{} - {}".format(x[0],x[1]))
 
#age_bracket_labels

1 - 10
11 - 20
21 - 30
31 - 40
41 - 50
51 - 60
61 - 70
71 - 80
81 - 90

In [72]:

diabetes_with_predictions02 = diabetes_with_predictions.copy()
diabetes_with_predictions02
'''
pd.average_glucose_by_age = [
    ["1 - 10", 0],
    ["11 - 20", 0],
    ["21 - 30", 0],
    ["31 - 40", 0],
    ["41 - 50", 0],
    ["51 - 60", 0],
    ["61 - 70", 0],
    ["71 - 80", 0],
    ["81 - 90", 0]    
]

average_glucose_by_age.to_csv('.\average_glucose_by_age.csv')
'''

'\npd.average_glucose_by_age = [\n    ["1 - 10", 0],\n    ["11 - 20", 0],\n    ["21 - 30", 0],\n    ["31 - 40", 0],\n    ["41 - 50", 0],\n    ["51 - 60", 0],\n    ["61 - 70", 0],\n    ["71 - 80", 0],\n    ["81 - 90", 0]    \n]\n\naverage_glucose_by_age.to_csv(\'.\x07verage_glucose_by_age.csv\')\n'

In [73]:
# Check the dtypes
diabetes_with_predictions02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767 entries, 0 to 766
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      767 non-null    int64
 1   diabetes        767 non-null    int64
 2   times_pregnant  767 non-null    int64
 3   glucose_conc    767 non-null    int64
 4   diastolic_BP    767 non-null    int64
 5   triceps_thk     767 non-null    int64
 6   2_hr_insulin    767 non-null    int64
 7   bmi             767 non-null    float64
 8   pedigree        767 non-null    float64
 9   age             767 non-null    int64
 10  prediction      767 non-null    int64
dtypes: float64(2), int64(9)
memory usage: 66.0 KB

In [74]:
#Check the dtypes for specific column: 'age'
diabetes_with_predictions02.dtypes['age']

dtype('int64')

In [75]:
# Noticed that 'mean' shows within .describe.
# This means I can use .mean() later on
diabetes_with_predictions02.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,767.0,383.000000,221.558119,0.000,191.5000,383.000,574.500,766.00
diabetes,767.0,0.348110,0.476682,0.000,0.0000,0.000,1.000,1.00
times_pregnant,767.0,3.842243,3.370877,0.000,1.0000,3.000,6.000,17.00
glucose_conc,767.0,120.859192,31.978468,0.000,99.0000,117.000,140.000,199.00
diastolic_BP,767.0,69.101695,19.368155,0.000,62.0000,72.000,80.000,122.00
triceps_thk,767.0,20.517601,15.954059,0.000,0.0000,23.000,32.000,99.00
2_hr_insulin,767.0,79.903520,115.283105,0.000,0.0000,32.000,127.500,846.00
bmi,767.0,31.990482,7.889091,0.000,27.3000,32.000,36.600,67.10
pedigree,767.0,0.471674,0.331497,0.078,0.2435,0.371,0.625,2.42
age,767.0,33.219035,11.752296,21.000,24.0000,29.000,41.000,81.00
prediction,767.0,0.720991,0.448805,0.000,0.0000,1.000,1.000,1.00

In [76]:
#Isolate just the column: 'age'
diabetes_with_predictions02['age']

0      31
1      32
2      21
3      33
4      30
       ..
762    63
763    27
764    30
765    47
766    23
Name: age, Length: 767, dtype: int64

In [77]:
#Find out the highest Age-Bracket possible
max(diabetes_with_predictions02['age'])

81

In [78]:
#Adding first of two filters to one column
diabetes_with_predictions02['age'] > 31

0      False
1       True
2      False
3       True
4      False
       ...
762     True
763    False
764    False
765     True
766    False
Name: age, Length: 767, dtype: bool

In [79]:
#Adding first of two filters to one column but showing entire dataframe
diabetes_with_predictions02[diabetes_with_predictions02['age'] > 31]

,Unnamed: 0,diabetes,times_pregnant,glucose_conc,diastolic_BP,triceps_thk,2_hr_insulin,bmi,pedigree,age,prediction
1,1,1,8,183,64,0,0,23.3,0.672,32,1
3,3,1,0,137,40,35,168,43.1,2.288,33,1
7,7,1,2,197,70,45,543,30.5,0.158,53,1
8,8,1,8,125,96,0,0,0.0,0.232,54,1
10,10,1,10,168,74,0,0,38.0,0.537,34,1
...,...,...,...,...,...,...,...,...,...,...,...
758,758,1,6,190,92,0,0,35.5,0.278,66,1
760,760,1,9,170,74,31,0,44.0,0.403,43,1
761,761,0,9,89,62,0,0,22.5,0.142,33,0
762,762,0,10,101,76,48,180,32.9,0.171,63,1
765,765,1,1,126,60,0,0,30.1,0.349,47,1

In [80]:
#Adding second of two filters to one column
diabetes_with_predictions02['age'] <= 40

0       True
1       True
2       True
3       True
4       True
       ...
762    False
763     True
764     True
765    False
766     True
Name: age, Length: 767, dtype: bool

In [81]:
#Adding second of two filters to one column but showing entire dataframe
diabetes_with_predictions02[diabetes_with_predictions02['age'] <= 40]

,Unnamed: 0,diabetes,times_pregnant,glucose_conc,diastolic_BP,triceps_thk,2_hr_insulin,bmi,pedigree,age,prediction
0,0,0,1,85,66,29,0,26.6,0.351,31,0
1,1,1,8,183,64,0,0,23.3,0.672,32,1
2,2,0,1,89,66,23,94,28.1,0.167,21,0
3,3,1,0,137,40,35,168,43.1,2.288,33,1
4,4,0,5,116,74,0,0,25.6,0.201,30,1
...,...,...,...,...,...,...,...,...,...,...,...
759,759,0,2,88,58,26,16,28.4,0.766,22,0
761,761,0,9,89,62,0,0,22.5,0.142,33,0
763,763,0,2,122,70,27,0,36.8,0.340,27,1
764,764,0,5,121,72,23,112,26.2,0.245,30,1
766,766,0,1,93,70,31,0,30.4,0.315,23,0

In [82]:
#Adding all two filters to one column
[(diabetes_with_predictions02['age'] > 31) & (diabetes_with_predictions02['age'] <= 40)]

[0      False
 1       True
 2      False
 3       True
 4      False
        ...
 762    False
 763    False
 764    False
 765    False
 766    False
 Name: age, Length: 767, dtype: bool]

In [83]:
#Adding all two filters to one column: age but showing entire dataframe
diabetes_with_predictions02[(diabetes_with_predictions02['age'] > 31) & (diabetes_with_predictions02['age'] <= 40)]

,Unnamed: 0,diabetes,times_pregnant,glucose_conc,diastolic_BP,triceps_thk,2_hr_insulin,bmi,pedigree,age,prediction
1,1,1,8,183,64,0,0,23.3,0.672,32,1
3,3,1,0,137,40,35,168,43.1,2.288,33,1
10,10,1,10,168,74,0,0,38.0,0.537,34,1
14,14,1,7,100,0,0,0,30.0,0.484,32,0
17,17,0,1,103,30,38,83,43.3,0.183,33,1
...,...,...,...,...,...,...,...,...,...,...,...
746,746,0,1,81,74,41,57,46.3,1.096,32,0
747,747,1,3,187,70,22,200,36.4,0.408,36,1
754,754,1,1,128,88,39,110,36.5,1.057,37,1
755,755,0,7,137,90,41,0,32.0,0.391,39,1
761,761,0,9,89,62,0,0,22.5,0.142,33,0

In [84]:
#Adding all two filters to one column: age and showing column: age
diabetes_with_predictions02['age'][(diabetes_with_predictions02['age'] > 31) & (diabetes_with_predictions02['age'] <= 40)]

1      32
3      33
10     34
14     32
17     33
       ..
746    32
747    36
754    37
755    39
761    33
Name: age, Length: 133, dtype: int64

In [85]:
#Adding all two filters to one column: age and showing column: 'glucose_conc'
diabetes_with_predictions02['glucose_conc'][(diabetes_with_predictions02['age'] > 31) & (diabetes_with_predictions02['age'] <= 40)]

1      183
3      137
10     168
14     100
17     103
      ...
746     81
747    187
754    128
755    137
761     89
Name: glucose_conc, Length: 133, dtype: int64

In [86]:
# Put .describe() at the end
diabetes_with_predictions02['glucose_conc'][(diabetes_with_predictions02['age'] > 31) & (diabetes_with_predictions02['age'] <= 40)].describe()

count    133.000000
mean     126.037594
std       33.277166
min        0.000000
25%      104.000000
50%      123.000000
75%      151.000000
max      197.000000
Name: glucose_conc, dtype: float64

In [ ]:
# Put .mean() at the end instead
#Successful extration of mean for one age bracket.
#Need to replicate
diabetes_with_predictions02['glucose_conc'][(diabetes_with_predictions02['age'] > 31) & (diabetes_with_predictions02['age'] <= 40)].mean()

In [87]:
#Creat rows of code to help visualise before building a for-loop
diabetes_with_predictions02['glucose_conc'][(diabetes_with_predictions02['age'] > 1) & (diabetes_with_predictions02['age'] <= 10)].mean()
diabetes_with_predictions02['glucose_conc'][(diabetes_with_predictions02['age'] > 11) & (diabetes_with_predictions02['age'] <= 20)].mean()
diabetes_with_predictions02['glucose_conc'][(diabetes_with_predictions02['age'] > 21) & (diabetes_with_predictions02['age'] <= 30)].mean()
diabetes_with_predictions02['glucose_conc'][(diabetes_with_predictions02['age'] > 31) & (diabetes_with_predictions02['age'] <= 40)].mean()
diabetes_with_predictions02['glucose_conc'][(diabetes_with_predictions02['age'] > 41) & (diabetes_with_predictions02['age'] <= 50)].mean()
diabetes_with_predictions02['glucose_conc'][(diabetes_with_predictions02['age'] > 51) & (diabetes_with_predictions02['age'] <= 60)].mean()
diabetes_with_predictions02['glucose_conc'][(diabetes_with_predictions02['age'] > 61) & (diabetes_with_predictions02['age'] <= 70)].mean()
diabetes_with_predictions02['glucose_conc'][(diabetes_with_predictions02['age'] > 71) & (diabetes_with_predictions02['age'] <= 80)].mean()
diabetes_with_predictions02['glucose_conc'][(diabetes_with_predictions02['age'] > 81) & (diabetes_with_predictions02['age'] <= 90)].mean()

nan

In [88]:
#First attempt at building a for-loop
for x in age_brackets:
    print("{} - {}".format(x[0],x[1]))
    print(diabetes_with_predictions02['glucose_conc'][(diabetes_with_predictions02['age'] > x[0]) & (diabetes_with_predictions02['age'] <= x[1])].mean())

1 - 10
nan
11 - 20
nan
21 - 30
115.21751412429379
31 - 40
126.0375939849624
41 - 50
123.6
51 - 60
140.02173913043478
61 - 70
137.0
71 - 80
119.0
81 - 90
nan

In [89]:
#For-Loop to create a 2 by 9 table
average_glucose_by_age = []
single_row_average_glucose_by_age = ["",0]
for x in age_brackets:
    single_row_average_glucose_by_age = ["",0]
    single_row_average_glucose_by_age[0] = "{} - {}".format(x[0],x[1])
    single_row_average_glucose_by_age[1] = diabetes_with_predictions02['glucose_conc'][(diabetes_with_predictions02['age'] > x[0]) & (diabetes_with_predictions02['age'] <= x[1])].mean()
    average_glucose_by_age.append(single_row_average_glucose_by_age)

average_glucose_by_age

[['1 - 10', nan],
 ['11 - 20', nan],
 ['21 - 30', 115.21751412429379],
 ['31 - 40', 126.0375939849624],
 ['41 - 50', 123.6],
 ['51 - 60', 140.02173913043478],
 ['61 - 70', 137.0],
 ['71 - 80', 119.0],
 ['81 - 90', nan]]

In [90]:
# Use code: 
# pd.DataFrame.from_records
# to convert to a dataframe
average_glucose_by_age = pd.DataFrame.from_records(average_glucose_by_age)
average_glucose_by_age

         0           1
0   1 - 10         NaN
1  11 - 20         NaN
2  21 - 30  115.217514
3  31 - 40  126.037594
4  41 - 50  123.600000
5  51 - 60  140.021739
6  61 - 70  137.000000
7  71 - 80  119.000000
8  81 - 90         NaN

In [91]:
# Check name of columns
average_glucose_by_age.columns

RangeIndex(start=0, stop=2, step=1)

In [92]:
# Rename Columns
average_glucose_by_age.columns = ['Age Range', 'Mean Glucose']
average_glucose_by_age

  Age Range  Mean Glucose
0    1 - 10           NaN
1   11 - 20           NaN
2   21 - 30    115.217514
3   31 - 40    126.037594
4   41 - 50    123.600000
5   51 - 60    140.021739
6   61 - 70    137.000000
7   71 - 80    119.000000
8   81 - 90           NaN

In [93]:
# use .loc as per instructions:
# "Create six intervals based on age (e.g. 11 to 20, 21 to 30 etc.) including both min and max age found earlier.""
average_glucose_by_age = average_glucose_by_age.loc[2:7]
average_glucose_by_age

  Age Range  Mean Glucose
2   21 - 30    115.217514
3   31 - 40    126.037594
4   41 - 50    123.600000
5   51 - 60    140.021739
6   61 - 70    137.000000
7   71 - 80    119.000000

In [94]:
average_glucose_by_age.to_csv('./average_glucose_by_age.csv')

In [ ]:
csv_test_open = pd.read_csv('./average_glucose_by_age.csv')
csv_test_open

In [ ]:
csv_test_open.columns

In [ ]:
csv_test_open = csv_test_open.drop( columns = 'Unnamed: 0',axis=1)
csv_test_open

In [ ]:
csv_test_open.to_csv('./average_glucose_by_age.csv')